PUBLIC_API_URL=https://be-web-por-rey.rey07.my.id
PUBLIC_SITE_URL=https://rain07.my.id
PUBLIC_CONTACT_EMAIL=reyno.fahreza@gmail.com
PUBLIC_LINKEDIN_NAME=Reyno Nur Fahreza
PUBLIC_WHATSAPP_NUMBER=6280000000000
