PUBLIC_API_URL=
PUBLIC_SITE_URL=    
PUBLIC_CONTACT_EMAIL=
PUBLIC_LINKEDIN_NAME=
PUBLIC_WHATSAPP_NUMBER=6282243856452
# Google Search Console Verification Token (Optional)
PUBLIC_GOOGLE_SITE_VERIFICATION=
